@model PromantusDBEntity.Technology
@{
    ViewBag.Title = "Technology";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<h2>Technology Master</h2>
<script src="~/Scripts/CustomScript.js"></script>
<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-info" onclick="AddDetails(0)">Add</a><br />
    <table class="table table-responsive-md btn-table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Technology Name</th>
                @*<th>Created ON</th>
                    <th>Created By</th>
                    <th>Last Modified On</th>
                    <th>Last Modified By</th>
                    <th>Status</th>*@
                <th>Edit</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody id="setList">
            <tr id="LoadingStatus"></tr>
        </tbody>
    </table>
</div>


@*ADD DETAILS*@
<div class="modal fade" id="Mymodel">
    <div class="modal-dialog" style="min-width:40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="ModalTitle"></h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body">
                <form id="from">
                    <fieldset id="fSubmit">
                        @Html.HiddenFor(m => m.Id)
                        <div class="from-group form-inline">
                            @Html.Label("Technology Name", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.TextBoxFor(m => m.TechnologyName, new { @class = "from-control", @placeholder = "Name" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2">
                                <a href="#" class="btn btn-block btn-primary" name="Save" id="Save">Save</a>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>

@*Delete Detils*@
<div class="modal fade" id="DeleteConfirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Delete User Record</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body">
                <a id="DeleteID"></a>
                <h4> Are you Sure? <br>You want to delete User Name <b><a id="DeleteValue"></a></b>.</h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal">Cancle</a>
                <a href="#" class="btn btn-danger" onclick="deleteData()">Confirm</a>

            </div>
        </div>

    </div>
</div>
<script>
    $("#LoadingStatus").html("Loading...");
    var LoadUrl='@Url.Action("GetTechnologyList")';
    $(document).ready(function () {

            LoadData(LoadUrl);
            });

    function DataBind(List) {

        var SetData = $("#setList");
        for (var i = 0; i < List.length; i++) {
            var ID = List[i].Id;

            //var CreatedOndt =Date.parse(Date(List[i].CreatedOn));
            //var str = $.datepicker.formatDate('yy-mm-dd', CreatedOndt);

            var Data = "<tr class='row_" +(i+1) + "'>" +
                "<td>" +(i+1) + "</td>" +
                "<td>" + List[i].TechnologyName + "</td>" +

                //"<td>" + Date(List[i].CreatedOn) + "</td>" +
                //"<td>" + List[i].CreatedBy + "</td>" +
                //"<td>" + List[i].ModifiedOn + "</td>" +
                //"<td>" + List[i].ModifiedBy + "</td>" +
                //"<td>" + List[i].IsDeleted + "</td>" +
                //"<td>" + List[i].DeletedOn + "</td>" +
                //"<td>" + List[i].DeletedBy + "</td>" +


                "<td>" + "<a href='#' class='btn btn-warning' onclick=\"Edit('" + ID + "');\"><span class='glyphicon glyphicon-edit'></a>" + "</td>" +
                "<td>"+"<a href='#' class='btn btn-danger' onclick=\"Delete('" +ID + "','"+List[i].TechnologyName +"');\"><span class='glyphicon glyphicon-trash'></a>"+"</td>"+
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");
        }
    }


    $("#Save").click(function () {


        var data = $('#fSubmit').serialize();
        var url = '@Url.Action("SaveTechnology")';

        saveData(data, url);

    })

    function Edit(Id) {

       $("#ModalTitle").html("Update Technology Name");
         $("#Mymodel").modal();
        $.ajax({
            type: "Get",
            url: '@Url.Action("GetTechnologyByID")',
            data: { "ID": Id },
            success: function (data) {
                $("#Id").val(data.Id);
                $("#TechnologyName").val(data.TechnologyName);
            },
            error: function (r) {

            }
        })
    }

    function deleteData()
    {

         var DeleteID = $("#DeleteID").val();
    var Deleteurl = "@Url.Action("DeleteTechnologyByID")";

    ConfirmDelete(DeleteID,Deleteurl,LoadUrl);
    }


</script>
